[Unit]
Description=Cloudflare ServerStatus HTTPS Agent

[Service]
Type=simple
WorkingDirectory=%h/.local/share/sss/agent
ExecStart=/usr/bin/python3 %h/.local/share/sss/agent/client-linux.py "USER=sss_user" "PASSWORD=sss_pass" "WORKER_URL=sss_worker_url"
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
